{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4 mb-2">
            <h2>Almost there!</h2>
            <a href="/">Back to home</a>

            <p style="color:red">{{ status|safe }}</p>
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                
                <div id="div_id_past_experience" class="mb-3"> 
                    <label for="id_past_experience" class="form-label">
                        Past Experience
                    </label> 

                    <div class="controls"> 
                        <label for="id_past_company" class="form-label">
                            Your Ex [Company]<span class="asteriskField">*</span>
                        </label> 
                        <input type="text" name="past_company" class="form-control textinput textInput" required="" id="id_past_company"> 

                        <label for="id_past_dept" class="form-label">
                            What do you do for your Ex [Department]<span class="asteriskField">*</span>
                        </label> 
                        <input type="text" name="past_dept" class="form-control textinput textInput" required="" id="id_past_dept">

                        <label for="id_past_title" class="form-label">
                            What did your Ex call you? [Job title]<span class="asteriskField">*</span>
                        </label> 
                        <input type="text" name="past_title" class="form-control textinput textInput" required="" id="id_past_title">

                        <label for="id_past_years" class="form-label">
                            How long were you with your Ex? [Years]<span class="asteriskField">*</span>
                        </label> 
                        <input type="text" name="past_years" class="form-control textinput textInput" required="" min = "1" id="id_past_years"> 
                    </div> 
                </div> 

                <br>
                <a class="btn btn-primary mr-2" href="user2" role="button">Prev</a> 
                <a class="btn btn-primary mr-2" href="user3" role="button">One more Ex?</a> 
                <button class="btn btn-success" type="submit" value="Create">Register</button>
            </form>
        </div>
    </body>
</html>
