{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4 mb-2">
            <h2>What can you do?</h2>
            <a href="/">Back to home</a>

            <p style="color:red">{{ status|safe }}</p>
            <!-- Create a Form -->
            <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->
                <div id="div_id_skills" class="mb-3"> 
                    <label for="id_skills" class="form-label">
                        Skills (separate with commas if you more than 1 skills)
                    </label> 
                    <div class="controls"> 
                        <input type="text" name="skills" class="form-control textinput textInput" id="id_skills"> 
                    </div> 

                <br>
                <button class="btn btn-primary mr-2" href="user" type = "submit" value = "prev">Prev</a> 
                <button class="btn btn-primary" href = "user3" type="submit" value="next">Next</button>
            </form>
        </div>
    </body>
</html>
