{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4 mb-2">
            <h2>Create an account</h2>
            <a href="/">Back to home</a>

            <p style="color:red">{{ status|safe }}</p>
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                <!-- form -->
                {{form | crispy}}
                <br>
                <h4>Let's get to know each other?</h4>
                <div id="div_id_full_name" class="mb-3"> 
                    <label for="id_full_name" class="form-label requiredField">
                        Full name<span class="asteriskField">*</span> 
                    </label> 
                    <div class="controls"> 
                        <input type="text" name="full_name" maxlength="64" class="form-control textinput textInput" required="" id="id_full_name"> 
                    </div> 
                </div> 

                <div id="div_id_phone_number" class="mb-3"> 
                    <label for="id_phone_number" class="form-label requiredField">
                        Phone Number<span class="asteriskField">*</span> 
                    </label> 
                    <div class="controls"> 
                        <input type="number" name="phone_number" maxlength="10" class="form-control textinput textInput" required="" id="id_phone_number"> 
                    </div> 
                </div> 

                <div id="div_id_location" class="mb-3"> 
                    <label for="id_location" class="form-label"> 
                        Choose your preferred location:
                    </label> 
                    <select name = "location" id = "id_location">
                        <option value=NULL>N.A.</option>
                        <option value="north">North</option>
                        <option value="south">South</option>
                        <option value="east">East</option>
                        <option value="west">West</option>
                        <option value="northeast">Northeast</option>
                        <option value="northwest">Northwest</option>
                        <option value="southeast">Southeast</option>
                        <option value="southwest">Southwest</option>
                    </select>
                </div>

                <br>
                <h4>What can you do?</h4>
                <div id="div_id_skills" class="mb-3"> 
                    <label for="id_skills" class="form-label">
                        Skills (separate with commas if you more than 1 skills)
                    </label> 
                    <div class="controls"> 
                        <input type="text" name="skills" class="form-control textinput textInput" id="id_skills"> 
                    </div>
                </div>

                <br>
                <h4>Almost there!</h4>
                <div id="div_id_past_experience" class="mb-3"> 
                    <label for="id_past_experience" class="form-label">
                        <b> Tell us more about your most memorable Ex (if you have) [Past Experience]</b>
                    </label> 

                    <div class="controls"> 
                        <label for="id_past_company" class="form-label">
                            Your Ex [Company]
                        </label> 
                        <input type="text" name="past_company" class="form-control textinput textInput" id="id_past_company"> 

                        <label for="id_past_dept" class="form-label">
                            What do you do for your Ex [Department]
                        </label> 
                        <input type="text" name="past_dept" class="form-control textinput textInput" id="id_past_dept">

                        <label for="id_past_title" class="form-label">
                            What did your Ex call you? [Job title]
                        </label> 
                        <input type="text" name="past_title" class="form-control textinput textInput" id="id_past_title">

                        <label for="id_past_years" class="form-label">
                            How long were you with your Ex? [Years]
                        </label> 
                        <input type="number" name="past_years" class="form-control textinput textInput" min = "1" id="id_past_years"> 
                    </div> 
                </div> 
                <br>
                <button class="btn btn-success" name="action" type="submit" value="register">Register</button>
            </form>
        </div>
    </body>
</html>

