{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mb-2" id="header">
            <div class="d-flex justify-content-between align-items-center">
                <img src="{% static 'app/images/linkedup.png' %}" width="10%" alt="LinkedUp logo"/><br/>
                <a class="btn btn-primary" href="logout" role="button">Log out</a>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <h2 class="display-6">Job Listings</h2>
                <a class="btn btn-primary" href="job/add" role="button">New Job</a>
            </div>
        </div>
        <table class="container table" border=1>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </thead>
            {% for cust in records %}
            <tr>
                <td> {{ cust.5 }} </td>
                <td> {{ cust.0 }} </td>
                <td> {{ cust.1 }} </td>
                <td>
                    <a class="btn btn-outline-primary" href="job/view/{{cust.5}}" role="button">View</a> 
                    <a class="btn btn-outline-primary" href="job/edit/{{cust.5}}" role="button">Edit</a>
                    <form method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{cust.5}}"/>
                    <button onclick="return confirm('Are you sure you want to delete {{cust.5}}?');" class="btn btn-outline-danger" type="submit" name="action" value="delete">Delete</button> 
                </form></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
