{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h2>Current jobs available</h2>
        <img src="{% static 'app/images/nus.jpg' %}" width="10%" alt="NUS logo"/><br/>
        <a href="job/add">New Job</a>
        <br/><br/>
        <table border=1>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </thead>
            {% for cust in records %}
            <tr>
                <td> {{ cust.5 }} </td>
                <td> {{ cust.0 }} </td>
                <td> {{ cust.1 }} </td>
                <td>
                    <a href="job/view/{{cust.5}}"><button>View</button></a> | 
                    <a href="job/edit/{{cust.5}}"><button>Edit</button></a>
                    | 
                    <form method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{cust.5}}"/>
                    <button onclick="return confirm('Are you sure you want to delete {{cust.5}}?');" type="submit" name="action" value="delete">Delete</button> 
                </form></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
