<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4 mb-2">
            <p style="color:red">{{ status|safe }}</p>
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}

            <h2>Details for {{job.0}} : {{job.3}}</h2>
            <a href="/user">Back to home</a>
            <br/><br/>
            <table class="table">
                <tr>
                    <th>Company name</th>
                    <td>:</td>
                    <td> {{ job.0 }} </td>
                </tr>
                <tr>
                    <th>Job title</th>
                    <td>:</td>
                    <td> {{ job.3 }} </td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>:</td>
                    <td> {{ job.5 }} </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>:</td>
                    <td> {{ job.4 }} </td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>:</td>
                    <td> {{ job.7 }} </td>
                </tr>
                <tr>
                    <th>Estimated Pay</th>
                    <td>:</td>
                    <td> {{ job.6 }} </td>
                </tr>
                <tr>
                    <th>Apply by</th>
                    <td>:</td>
                    <td> {{ job.8 }} </td>
                </tr>
            </table>
            <input type="hidden" id = 'job_id' name='job_id' value={{job.2}}></>
            <button class="btn btn-success" name="action" type="submit" value="apply">Apply</button>
            <button class="btn btn-default" href="user/search" name="action" type="submit" value="search">Search for more!</button>

            </form>
        </div>
    </body>
</html>